.ctnMention{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: 'Merienda', cursive;
}

/* FOOTER */ 
/* BLoc centrale du footer*/
#ctnFooter{
    font-family: 'Allerta Stencil', sans-serif;
    height: 130px;
    width: 100%;
    bottom: 0%;
    background-color: #BDC1C4;
    position: relative;
    bottom: 0px;
}
/*1 er bloc du footer*/
.txtFooter1{
    
    position: relative;
    height: 110px;
    float: left;
    margin: 0%;
    width: 250px;
    left: 90px;
}
/*2 ieme bloc du footer*/
.txtFooter2{
    position: relative;
    margin: 0%;
    float: left;
    height: 90px;
    width: 25%;
    left:110px;
}
/*Image resaux sociaux*/
.iconReseauxSociaux{
    height: 20%;
    float: left;
    width: 100px;
    margin-left: 170px;
    margin-top:1.5%;
    
}
/*Facebook + Twitter */
.partie1Icon{
    position: relative;
    left: 0%;
}

/*LinkeDin + Youtube */
.partie2Icon{
    position: relative;
    left:20px;
}
.txtFooter3{
    height: 115px;
    width: 350px;
    float: left;
    margin-left: 2.5%;
}
/*Système de notation du site */
.noteSite{
    
    position: relative;
    float:  left;
    left: 1.5%s%;
    margin: 0%;
   margin-top: 1.5%;
}
.noteSite p, .noteSite li, .noteSite input{
    font-family: 'Allerta Stencil', sans-serif;
}
ul.notes-echelle {
	margin:0;
	padding:0;
	font:.75em/1.2 Arial, Helvetica, sans-serif;
}
ul.notes-echelle li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
}

/*Fin notes du site */