/*banière*/
.navbar 
{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 150;
}
   
.navbar a
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
   
.navbar a:hover 
{
    background: #ddd;
    color: black;
}
/*fin banière*/

/*image de fond*/

body
{
background: url("../img/image3.png")  fixed center; 
}

/*block article1*/

.article1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 90%;
    height: 0%;
    padding: 4px;  
    position: relative;  
    margin-left: 5% ;
    margin-top: 10%;
    background-color: #;
}

/*contour écarté de l'image article1*/

.ImageArticle1
{
    float: left;
    margin-left : 2%;
    margin-right : 2%;
    margin-bottom: 2%;
    margin-top: 2%;

}

/*Block texte article1*/

.TexteArticle1
{
    border-left: 6px solid black;
    background-color: lightgrey;
    margin-left: 51%;
    text-align: left;
}




/*block article2*/


.article2
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 90%;
    height: 10%;
    padding: 4px;  
    position: relative;  
    margin-left: 5% ;
    margin-top: 10%;
    background-color: #;
}



/*contour écarté de l'image article2*/


.ImageArticle2
{
    float: left;
    margin-left : 2%;
    margin-right : 2%;
    margin-bottom: 2%;
    margin-top: 2%;

}

/*block texte article2*/

.TexteArticle2
{
    border-left: 6px solid black;
    background-color: lightgrey;
    margin-left: 51%;
    text-align: left;
}


/*block article3*/

.article3
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 90%;
    height: 10%;
    padding: 4px;  
    position: relative;  
    margin-left: 5% ;
    margin-top: 10%;
    background-color: #;
}

/*contour écarté de l'image article3*/

.ImageArticle3
{
    float: left;
    margin-left : 2%;
    margin-right : 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

/*block texte article3*/

.TexteArticle3
{
    border-left: 6px solid black;
    background-color: lightgrey;
    margin-left: 51%;
    text-align: left;
}

/*block article4*/

.article4
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 90%;
    height: 10%;
    padding: 4px;  
    position: relative;  
    margin-left: 5% ;
    margin-top: 10%;
    background-color: #;
}

/*contour écarté de l'image article4*/

.ImageArticle4
{
    float: left;
    margin-left : 2%;
    margin-right : 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

/*block article4*/

.TexteArticle4
{
    border-left: 6px solid black;
    background-color: lightgrey;
    margin-left: 51%;
    text-align: left;
}



/*gros block tweet*/

.BlockTweet1
{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;

    width: 90%;
    height: 10%;
    padding: 4px;  
    position: relative;  
    margin-left: 5% ;
    margin-top: 10%;
    background-color: #;

}

/*tweet n°1*/

.BlockTweet2
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 90%;
    height: 15%;
    padding: 4px;  
    margin-left:  5%;
    margin-bottom: 2%;
    background-color: ;
    justify-content: space-around; 
}

/*Titre Tweet*/

.TitreTweet
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 90%;
    height: 15%;
    padding: 4px;  
    margin-left:  5%;
    margin-top: 9%;
    background-color: #;
    justify-content: space-around; 
}

h2{
    font-family: 'Merienda', cursive;
}

/* FOOTER */ 
/* BLoc centrale du footer*/
#ctnFooter{
    font-family: 'Allerta Stencil', sans-serif;
    height: 130px;
    width: 100%;
    bottom: 0%;
    background-color: #BDC1C4;
    position: relative;
    bottom: 0px;
}
/*1 er bloc du footer*/
.txtFooter1{
    
    position: relative;
    height: 110px;
    float: left;
    margin: 0%;
    width: 250px;
    left: 90px;
}
/*2 ieme bloc du footer*/
.txtFooter2{
    position: relative;
    margin: 0%;
    float: left;
    height: 90px;
    width: 25%;
    left:110px;
}
/*Image resaux sociaux*/
.iconReseauxSociaux{
    height: 20%;
    float: left;
    width: 100px;
    margin-left: 170px;
    margin-top:1.5%;
    
}
/*Facebook + Twitter */
.partie1Icon{
    position: relative;
    left: 0%;
}

/*LinkeDin + Youtube */
.partie2Icon{
    position: relative;
    left:20px;
}
.txtFooter3{
    height: 115px;
    width: 350px;
    float: left;
    margin-left: 2.5%;
}
/*Système de notation du site */
.noteSite{
    
    position: relative;
    float:  left;
    left: 1.5%s%;
    margin: 0%;
   margin-top: 1.5%;
}
.noteSite p, .noteSite li, .noteSite input{
    font-family: 'Allerta Stencil', sans-serif;
}
ul.notes-echelle {
	margin:0;
	padding:0;
	font:.75em/1.2 Arial, Helvetica, sans-serif;
}
ul.notes-echelle li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	min-width:20px;
	min-height:20px;
}

/*Fin notes du site */